section{
    padding: 30px !important;
}
body{
     font-family: 'Tilt Neon', sans-serif !important; ;
     background-color: #EFEFEF !important;
}
.card-text{
    color: #8f8e8e;
}
.btn{
  color: #EFEFEF !important;
    background-color: #72d8ef !important;

    font-size: 13px !important;
    /* font-weight:600 !important; */
}
.btn:hover{
    transition: 1s;
    background-color: #2095b0 !important;
    font-size: 13px !important;
 
}
.__project_title{
    color: #ff3b3f !important;
}
.card-img-top{
    height: 140px;
    border-radius:5px !important ;
     }
.card-text{
    font-size: 14px;
}
.card{
    width:90% !important;
    border: none !important;
    padding-bottom: 8px !important;
}
 @media (min-width: 320px) and (max-width: 480px) {
   .card{
    width:90% !important;
    margin-left: 5%;
   }
}
@media (min-width: 481px) and (max-width: 768px) {

}
@media (min-width:  769px) and (max-width: 1024px) {

}
@media (min-width: 1025px) and (max-width: 1200px) {

}
@media (min-width: 1201px)  {

}