section{
    padding: 30px !important;
}
body{
     font-family: 'Tilt Neon', sans-serif !important; ;
     background-color: #EFEFEF !important;
}
.card-text{
    color: #8f8e8e;
}
.btn{
    background-color: #caebf2 !important;
    color: rgb(74, 69, 69) !important;
    font-size: 13px !important;
    font-weight:600 !important;
}
.btn:hover{
    transition: 1s;
    background-color: #87dcef !important;
    color: rgb(16, 16, 16) !important;
    font-size: 13px !important;
    font-weight:550 !important;
}
.__project_title{
    color: #ff3b3f !important;
}
.card-img-top{
    height: 140px;
    border-radius:5px !important ;
     }
.card-text{
    font-size: 14px;
}
.card{
    width:90% !important;
    border: none !important;
    padding-bottom: 8px !important;
}
 