* {
    box-sizing: border-box;
  }
  
  body {
    font-family: monospace;
    margin: 0;
    /* background: #ececec; */
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 25px;
    font-size: 20px;
  }
  
  .keyboard_wrapper {
    width: 740px;
    padding: 25px;
    border: 1px black solid;
    border-radius: 15px;
    /* box-shadow: -4px -4px 8px darkgrey, 4px 4px 8px #0002; */
    background-color: #c187ed;
  

    /* background-image: linear-gradient(315deg, #b4c3bc 0%, #d2ecf4 74%); */
  }
  
  .keyboard_wrapper .display {
    background-color: #cd99f5 !important;
    position: relative;
    font-size: 18px;
    font-family: inherit;
    height: 150px;
    border-radius: 8px;
    border: 2px white solid;
  
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    border: 2px  #fff;
    white-space: pre-wrap;
    /* box-shadow: inset 2px 2px 5px #0002, inset -2px -2px 5px #fff; */
  }
  
  .keyboard_wrapper .display::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(45deg, #ffffff52, #0000001a); */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .keyboard_wrapper .key {
    margin-top: 20px;
    text-transform: lowercase;
    user-select: none;
  }
  
  .keyboard_wrapper .key .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .keyboard_wrapper .key .row span {
    width: 50px;
    height: 50px;
    color: rgb(184, 21, 184);
    display: grid;
    place-content: center;
    border-radius: 8px;
  box-shadow: 3px 3px 6px #0002;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
  }
  
  .keyboard_wrapper .key .row span.caps,
  .keyboard_wrapper .key .row span.backspace {
    width: calc(50px * 1.6);
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .keyboard_wrapper .key .row span.space {
    width: calc(50px * 9.4);
  }
  
  .keyboard_wrapper .key .row span.active,
  .keyboard_wrapper .key .row span:hover {
    color: white;
  }
  
  .keyboard_wrapper .key .row span.active,
  .keyboard_wrapper .key .row span:active {
    /* box-shadow: inset 3px 3px 6px #0002, inset -3px -3px 6px #fff; */
    border:1px #d3aaf2 solid;
  }
  
  .keyboard_wrapper .key.uppercase {
    text-transform: capitalize;
  }

