@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 40px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  transition: 0.4s ease;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.boxes.big {
  width: 600px;
  height: 600px;
}

.box {
  background-image: url("https://gumlet.assettype.com/tnm%2Fimport%2Fsites%2Fdefault%2Ffiles%2FAjith_Arrambam_Screengrab_1122021_1200.jpg?auto=format%2Ccompress&fit=max&w=1200");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.box::after {
  content: "";
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: "";
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #d1eefd;
  color: black;
  letter-spacing: 2px;  font-family:monospace !important;
  font-size:17px;
  font-weight: bold;
  text-align: center;
}
.footer a{
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  z-index: 999999999999 !important;
  background-color: #d1eefd ;
  padding: 10px 10px;
  width: 100%;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 18px;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: left;
    display: block;
    text-align: left;
  }
  .header-right {
    float: right;
  }
  .footer{
      font-size: 10px;
      font-weight: bold;
      width: 100%;
      text-align: center;
  }
}